.btnbtn {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 10px 30px;
  color: white;
  border: 1px solid white;
  overflow: hidden;
}

.btnbtn span {
  color: black;
  position: relative;
  z-index: 1;
}

.btnbtn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: orange;
  transition: width 1s, height 1s;
}

.btnbtn:hover::before {
  width: 1500px;
  height: 1500px;
}
